:root {
    --white: #fff;
    --black: #000;
    --body-bg-color: #9ACCFF;
    --accent-color: #3857A9;
    --grey: #7e7e7e;
    --light-grey: #D9d9d9;

}

body {
    background-color: var(--body-bg-color);
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
    width: 80%;
    text-indent: initial;
}

td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}

button{
    width: 300px;
    height: 30px;
}

label{
    width: 300px;
    padding-left: 50px;   
}

#careerSelect {
    background-color: var(--accent-color);
    height: 25rem;
    overflow-y: auto;
    width: 60%;
    margin: auto;
}

#careerList {
    display:block;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    border: solid 1px red;
}

.tr-div {
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 1rem; */
    margin: 0.5rem;
    /* find a way to make this completely centered! the text is acting funky */
}

.tr-div li {
    margin-right: 1rem;
    margin-left: 1rem;
    list-style-type: none;
}

.tax-payments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;

    margin: 7.5%;
    margin-left: 22.5%;
    padding: 0;
    padding-bottom: 5px;
}

.tax-payments h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

td.third {
    width: 30%;
    border: solid 2px #9ACCFF;
    min-height: 100%;
}

.career-wrapper {

}

.Switch-Buttons{
    justify-self: center;
    padding: 1rem;
}

.chart {
    width: 50%;
    align-items: center;
    justify-self: center;
}

.regTable {
    width: 20%;
}

a:link, a:visited {
    background-color: var(--white);
    color: var(--black);
    padding: 14px 80px;
    display: inline-block;
}

a:hover, a:active {
    background-color: var(--grey);
}

#check {
    display: flex;
    flex-direction: column;
    
}