:root {
    --white: #fff;
    --black: #000;
    --body-bg-color: #9ACCFF;
    --accent-color: #3857A9;
}

body {
    background-color: var(--body-bg-color);
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
}

#careerSelect {
    background-color: var(--accent-color);
}

#careerList {
    display: flex;
    flex-direction: column;
}

.tr-div {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    /* find a way to make this completely centered! the text is acting funky */
}

.tr-div li {
    margin-right: 1rem;
    margin-left: 1rem;
    list-style-type: none;
}

.tax-payments {
    display: flex;
    flex-direction: column;
    /* trying to make a grid here :( */
}

.tax-payments h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}